@{
    Layout = "_Backend";
}


<head>
    <style>
        h3 ,h6{
            font-family:"Microsoft JhengHei"
        }
    </style>
</head>
    <div id="wrapper">
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800" style="font-family:'Microsoft JhengHei UI'">個人資訊</h1>
            <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

            <!-- DataTales Example  <img src="http://placehold.it/200x200" alt="..." class="rounded-circle">-->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">資訊一覽</h6>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <div class="col col-lg-2">
                            </div>
                            <div class="col-md-auto">
                                <img src="https://autos.yahoo.com.tw/p/r/w644/car-models/February2020/3NIAb2Vsk6mH3QbqctvF.jpeg" alt="..." class="rounded-circle" style="width:200px; height:200px">
                            </div>
                            <div class="col col-lg-2">
                            </div>
                        </div>
                        <br/>
                        <div class="row justify-content-md-center">
                            <div class="col col-lg-2">
                            </div>
                            <div class="col-md-auto">
                                <button type="button" class="btn btn-primary">更換</button>
                            </div>
                            <div class="col col-lg-2">
                            </div>
                        </div>
                    </div>
                    <div class="container" style="text-align:center">
                        <div class="row">
                            <div class="col"><h3>名稱</h3></div>
                            <div class="col"><h3>法拉利</h3></div>
                            <div class="w-100"></div>
                            <div class="col"><h3>帳號</h3></div>
                            <div class="col"><h3>account</h3></div>
                            <div class="w-100"></div>
                            <div class="col"><h3>交易Token</h3></div>
                            <div class="col"><h3>TokenValue</h3></div>
                            <div class="w-100"></div>
                            <div class="col"><h3>交易Address</h3></div>
                            <div class="col"><h3>Address</h3></div>
                            <div class="w-100"></div>
                            <div class="col"><h6>尚未啟用Token和Address嗎?<a href="#">點此啟用</a></h6></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>