<form action="/User/AddUser" method="post">
    <input type="text" name="name" />
    <input type="date" name="birthday">
    <input type="text" name="telephone">
    <input type="text" name="account">
    <input type="text" name="password">
    <input type="submit" value="送出">
</form>